[submodule "programming_languages/lab1/assignment-1-io-library"]
	path = programming_languages/lab1/assignment-1-io-library
	url = https://gitlab.se.ifmo.ru/programming-languages/cse-programming-languages-fall-2024/assignment-1-io-library
